name: Riscv CoreDSL Extension

on:
  workflow_dispatch:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  trigger-seal5-etiss:
    runs-on: ubuntu-latest
    steps:
    - name: Trigger Seal5 Workflow
      uses: peter-evans/repository-dispatch@v3
      with:
       token: ${{ secrets.REPO_ACCESS_TOKEN }}
       repository: ${{ 'kebi-be/seal5'}}
       event-type: s4e-cdsl-event
       client-payload: '{"triggered_by": "${{ github.repository }}", "run_id": "${{ github.run_id }}"}'
    
    - name: Trigger ETISS Workflow
      uses: peter-evans/repository-dispatch@v3
      with:
        token: ${{ secrets.REPO_ACCESS_TOKEN }}
        repository: ${{ 'kebi-be/etiss' }}
        event-type: s4e-cdsl-event
        client-payload: '{"triggered_by": "${{ github.repository }}", "run_id": "${{ github.run_id }}"}'
        